.filters-sidebar-container {
    background: $white;
    padding: 21px 14px;
    border: 1px solid rgba($color-grey-medium-2, .4);
    height: fit-content;
    position: sticky !important;
    top: 94px;
    border-radius: 16px;
    // margin-#{$end-direction}: 15px;
}

@include media-breakpoint-down(md) {
    .filters-sidebar-container {
        position: relative !important;
        top: auto;
        width: 90%;
    }
}