.incrementer-style-1 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid rgba($primary, .2);
    justify-content: center;
    border-radius: 6px;
    width: fit-content;
    button {
        width: 40%;
        &:focus,
        &:active {
            box-shadow: none !important;
            outline: none !important;
        }
        i {
            #{$start-direction}: 50%;
            transform: translateX(-50% * $transform-direction);
        }
    }
    #items_number {
        width: 20%;
    }
}