.topbar-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#cart_icon {
    color: $white !important;
    .nav-link {
        color: $white !important;
    }
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    padding-#{$start-direction}: ($grid-gutter-width/2) !important;
    padding-#{$end-direction}: ($grid-gutter-width/2) !important;
}

.sticky-area.faded-bg {
    background-color: rgba($color-purple-primary, .5);
}

.sticky-area {
    transition: all 0.5s;
    height: auto;
    background-color: $color-purple-primary;
}

.sticky-area-wrap {
    position: relative;
    transition: all 0.5s;
    z-index: 1000;
}

.sticky-area {
    width: 100%;
}

.sticky .sticky-area {
    z-index: 1050;
}

.header-hidden {
    transform: translate(0, -100%);
    box-shadow: none !important;
}

.navbar-light {
    .sticky .sticky-area {
        box-shadow: $box-shadow;
        background-color: $color-purple-primary;
    }
}

.navbar-dark {
    .nav-search {
        color: $white !important;
    }
    .nav-link,
    .dropdown-header {
        &::before {
            background-color: $white !important;
        }
    }
}

.main-header {
    .dropdown-menu {
        position: absolute;
        border: none;
        border-radius: 0;
        margin-top: 0;
    }
    .sticky-logo,
    .sticky-button-icon {
        display: none;
    }
    .navbar-brand {
        max-width: 135px;
    }
    .normal-logo,
    .normal-button-icon {
        display: inline-block;
    }
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        position: static;
        .nav-link {
            display: inline-block;
            font-size: $font-size-base;
            line-height: 26px;
            font-weight: 500;
            transition: all .3s ease-in-out;
        }
        .nav-link:focus {
            outline: none;
        }
        .dropdown-link {
            color: $secondary;
            &:hover {
                color: $color-purple-primary !important;
            }
        }
        .dropdown-link:focus,
        .dropdown-item:focus,
        .dropdown-link:hover,
        .dropdown-item:hover,
        .dropdown-item.active,
        .dropdown-item.active .dropdown-link {
            color: $primary;
            outline: none;
            background-color: transparent;
        }
    }
    .nav-search {
        display: flex;
        align-items: center;
        i {
            font-size: 18px;
        }
    }
    .main-menu {
        .nav-link,
        .dropdown-header {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                #{$start-direction}: 0;
                bottom: -2px;
                height: 2px;
                background-color: $white;
                transition: width 0.5s;
            }
        }
        .nav-item {
            transition: all 0.5s;
            .nav-link::before {
                width: 0;
            }
            &:hover {
                .nav-link::before {
                    width: 100%;
                }
            }
        }
        .nav-link {
            white-space: nowrap;
        }
    }
    .dropright .dropdown-menu {
        margin-#{$start-direction}: 0;
    }
    .dropdown-item-shop {
        position: static;
    }
    .dropdown-menu-listing {
        #{$start-direction}: 0;
        width: calc(100vw - 25px);
        .dropdown-item,
        .dropdown-header {
            padding-#{$start-direction}: 0;
        }
    }
    .divider {
        content: '';
        width: 1px;
        height: 15px;
        opacity: 0.7;
        background-color: #fff;
    }
    .dropdown-menu-docs {
        min-width: 250px;
        i,
        small {
            color: $text-muted;
        }
    }
    @include media-breakpoint-down(xl) {
        .dropdown-menu-listing {
            width: calc(100vw - 19px);
        }
    }
    @include media-breakpoint-down(lg) {
        //position: static !important;
        .navbar-collapse {
            background-color: $white;
        }
        .sticky {
            .sticky-area {
                background-color: $white !important;
            }
            .nav-search {
                color: $primary !important;
            }
            .main-menu {
                max-height: 500px;
                overflow: auto;
                width: 100%;
                .dropdown-menu {
                    position: static;
                    box-shadow: none;
                    padding-top: 0;
                    background-color: transparent;
                    .dropdown-link,
                    .dropdown-item {
                        color: $secondary;
                    }
                    .dropdown-header {
                        color: $primary !important;
                    }
                    .dropdown-item.dropdown {
                        &:hover,
                        &:focus,
                        &.active {
                            background-color: transparent;
                        }
                    }
                }
                .dropright .dropdown-toggle {
                    display: inline-block;
                }
            }
            .navbar-nav>.nav-item>.nav-link,
            .navbar-toggler {
                color: $primary;
            }
        }
    }
    .navbar-right {
        .nav-link i {
            font-size: 18px;
        }
        .number {
            top: -12px;
            #{$end-direction}: 0;
            font-size: 15px;
        }
    }
}

.sticky {
    .sticky-logo,
    .sticky-button-icon {
        display: inline-block;
    }
    .normal-logo,
    .normal-button-icon {
        display: none;
    }
}

.navbar-light-sticky {
    .nav-search {
        color: $primary !important;
    }
}

.header-04 {
    .dropdown-menu-listing {
        #{$start-direction}: 0;
    }
}

.navbar-nav {
    .nav-link {
        color: $white !important;
    }
}

.fa-search {
    color: $white !important;
}

.header-05 {
    transition: 0.5s;
    .navbar-nav {
        flex-flow: column;
    }
    .nav-link {
        display: inline-block;
    }
}

.navbar-toggler,
.toggle-bar {
    width: 28px;
    height: 28px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.toggle-icon {
    bottom: 0;
    display: block;
    height: 2px;
    #{$start-direction}: 2px;
    #{$end-direction}: 0;
    margin: auto;
    position: absolute;
    top: 0;
    transition: all 0.3s;
    background-color: currentColor;
    &::before,
    &::after {
        content: "";
        height: 2px;
        #{$start-direction}: 0;
        margin: auto;
        position: absolute;
        #{$end-direction}: 0;
        transition: top 0.3s ease-in-out, transform 0.3s ease-in-out, background 0.3s;
        transform-origin: 50% 50%;
        background-color: currentColor;
    }
    &::before {
        width: 18px;
        #{$start-direction}: -6px;
        top: 8px;
    }
    &::after {
        top: -8px;
        #{$start-direction}: -9px;
        width: 15px;
    }
}

.header-08 {
    @include media-breakpoint-up(xl) {
        .navbar-nav {
            flex-flow: row;
        }
        .navbar-right {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            .nav-item,
            .nav-link {
                padding-bottom: 0 !important;
                padding-top: 0 !important;
            }
            .number {
                top: -10px;
            }
        }
    }
    .dropdown-menu {
        margin-top: 0;
        border-top-#{$start-direction}-radius: 0;
        border-top-#{$end-direction}-radius: 0;
        z-index: 9999;
    }
    @include media-breakpoint-down(lg) {
        .dropdown-menu {
            position: static !important;
            box-shadow: none;
            padding-top: 0;
            transform: translate3d(0, 0, 0) !important;
        }
    }
    .nav-item {
        padding-top: 9px !important;
        padding-bottom: 9px !important;
    }
}

.header-landing {
    .nav-link.active::before {
        width: 100% !important;
    }
}

.menu-image {
    min-width: 574px;
}

@include media-breakpoint-down(md) {
    .navbar-nav {
        .nav-link {
            color: $primary !important;
        }
    }
    .main-header .sticky {
        #cart_icon {
            .nav-link {
                color: $primary !important;
            }
        }
        a .fa-search {
            color: $primary !important;
        }
    }
}